{% extends "base.html" %}

{% block title %}
    missions
{% endblock %}

{% block csssrc %}
    {{ super() }}
    <style>
        .panelstyle{
            font-size:14px;
            color: black;
        }
        .apipanel {
            margin-bottom:10px;
            padding-top:10px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px; 
            -webkit-box-shadow: #666 0px 0px 3px; 
            -moz-box-shadow: #666 0px 0px 3px; 
            box-shadow: #666 0px 0px 3px;
        }

        input[type="text"]:-webkit-autofill,select:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white  inset !important;
        }
        input[type="text"]{
            outline-color: invert ;
            outline-style: none ;
            outline-width: 1px ;
            border: 1px solid #ccc;
            border-radius: 3px;
            text-shadow: none ;
            -webkit-appearance: none ;
            -webkit-user-select: text ;
            box-shadow: none;
        }


    </style>
{% endblock %}


{% block container %}
    <form action="/addmission" id="addmissionform" method="post" enctype="multipart/form-data">
    {% if not edit %}
        <div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="panelstyle">一、基础配置</span>
                </div>
            </div>
            <div class="lineitem">
                <ul class="list-inline">
                    <li><span style="color:red">* </span><strong>接口所属项目</strong></li>
                    <li>
                        <select name="project" id="group-project">
                            <option value="other">其 他</option>
                            {% for project in user_projects %}
                                <option value="{{ project }}" {% if project == choiced_api %}selected="selected"{% endif %}>{{ project }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li><span style="color:red">* </span><strong>接口名</strong></li>
                    <li><input type="text" class="form-control required" name="api_name" value="test" onblur="$(this).attr('value', $(this).val())"></li>
                    <li><input type="text" class="form-control" name="tag" placeholder="设置一个标签(选填)" style="width:250px" onblur="$(this).attr('value', $(this).val())"></li>
                    <li>指定项目和标签有助于进行性能对比 <a href="/analyze" target="_blank">查看历史对比数据</a></li>
                </ul>
            </div>

            <div class="lineitem" style="display: none">
                <span style="color:red">* </span>任务名称(只允许使用字母和下划线)：<input class="form-control required" id="missionName" type="text" name="missionName" value="LoadTest" onKeyUp="value=value.replace(/[\W\d]/g,'')" onblur="$(this).attr('value', $(this).val())">
            </div>
            <div class="lineitem">
                <span style="color:red">* </span><strong>域名或ip端口</strong><input class="form-control required" id="baseUrl" type="text" name="baseUrl" value="{{ base_url }}" onblur="$(this).attr('value', $(this).val())">
            </div>
        </div>
        <div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="panelstyle">二、请求配置 / 断言配置</span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column" id="apilistdiv">
                    <div class="col-md-1" style="">
                        <div class="list-group" id="apilist" style="text-align:center">
                            <a href="javascript:;" id="apilist-1" class="list-group-item active" onclick="showapiconfig(1)">接口_1</a>
                        </div>
                        <div style="text-align:center">
                            <a href="javascript:;" onclick="addApi()"><span class="glyphicon glyphicon-plus"></span> 添加</a>
                        </div>
                    </div>

                    {{ default_api_template|safe }}
                </div>
            </div>
        </div>

        <a name="top"></a>
        <div class="panel panel-warning" id="runtimeConfig">
            <div class="panel-heading">
                <span class="panelstyle">三、压测工具选择 / 参数配置</span>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs" id="tool-pick">
                <li role="presentation" class="active"><a href="#gatling" aria-controls="gatling" role="tab" data-toggle="tab">gatling</a></li>
                <li role="presentation"><a href="#jmeter" aria-controls="jmeter" role="tab" data-toggle="tab">jmeter</a></li>
            </ul>
            <div class="tab-content" style="padding:10px">
                <!-- body begin -->
                <div role="tabpanel" class="tab-pane active" id="gatling">
                    <ul class="list-inline">
                        <li>
                            <span id="beginLoad">
                                <label><span style="color:red">*</span>并发用户数：</label>
                                <input id="concurrent" name="concurrent" type="text" value="10" class="required" onblur="$(this).attr('value', $(this).val())">
                            </span>
                            <span id="endLoad" style="display:none">
                                <label>并发用户数2：</label>
                                <input id="concurrent" name="concurrent2" type="text" value="20" onblur="$(this).attr('value', $(this).val())">
                            </span>
                            <span id="duration">
                                <label>持续时间：</label>
                                <input name="duration" type="text" value="30" onblur="$(this).attr('value', $(this).val())">
                            </span>
                        </li>
                        <li id="durationType">
                            <label class="radio-inline">
                              <input type="radio" class="durationTimeOptions" name="durationTimeOptions" value="s" checked="checked" onclick="changeRadio(this, 'durationTimeOptions')">秒
                            </label>
                            <label class="radio-inline">
                              <input type="radio" class="durationTimeOptions" name="durationTimeOptions" value="m" onclick="changeRadio(this, 'durationTimeOptions')">分
                            </label>
                            <label class="radio-inline">
                              <input type="radio" class="durationTimeOptions" name="durationTimeOptions" value="h" onclick="changeRadio(this, 'durationTimeOptions')">时
                            </label>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li><label><span style="color:red">*</span>压测类型:</label></li>
                        <li>
                            <label class="radio-inline">
                              <input type="radio" class="loadType" name="loadType" value="atOnceUsers" data-toggle="tooltip" data-placement="top" title="一次性模拟的用户数量" onclick="changeRadio(this, 'loadType')">atOnceUsers
                            </label>
                            <label class="radio-inline">
                              <input type="radio" class="loadType" name="loadType" value="rampUsers" data-toggle="tooltip" data-placement="top" title="在'持续时间'内逐渐增加用户数到指定的'并发用户量'" onclick="changeRadio(this, 'loadType')">rampUsers
                            </label>
                            <label class="radio-inline">
                              <input type="radio" class="loadType" name="loadType" value="constantUsersPerSec" checked="checked" data-toggle="tooltip" data-placement="top" title="在'持续时间'内，以固定的速度每秒模拟'并发用户量'个用户" onclick="changeRadio(this, 'loadType')">constantUsersPerSec
                            </label>
                            <label class="radio-inline">
                              <input type="radio" class="loadType" name="loadType" value="rampUsersPerSec" data-toggle="tooltip" data-placement="top" title="在'持续时间'内，使每秒模拟的用户从'并发用户量'逐渐增加到'并发用户量2'，速度匀速" onclick="changeRadio(this, 'loadType')">rampUsersPerSec
                            </label>
                            <label class="radio-inline">
                              <input type="radio" class="loadType" name="loadType" value="heavisideUsers" data-toggle="tooltip" data-placement="top" title="在'持续时间'内使用类似单位阶跃函数的方法逐渐增加模拟并发的用户，直到总数达到指定的'并发用户量'" onclick="changeRadio(this, 'loadType')">heavisideUsers
                            </label>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="jmeter">
                    <ul class="list-inline">
                        <li><span><label><span style="color:red">*</span>并发用户数:</label></span></li>
                        <li><input type="text" value="10" name="jmeter-concurrent" class="required" onblur="input_concurrent(this)"></li>
                        <li>若配置为<code>纯数字</code>，则只以指定并发数进行压测；若配置为: <code>10,20,30,40</code>则会在各压力下均运行指定的时长或次数<code>以观察应用在压力逐渐增大时响应时间和吞吐量的变化</code></li>
                        <li id="agent_desc" style="display: none"><span class="label label-default">并发过大,将要触发分布式压测；当前活跃肉鸡数: <a href="/agents" target="_blank"><span id="agent_list" class="badge" style="background-color:green"></span></a></span></li>
                    </ul>
                    <ul class="list-inline">
                        <li><label><span style="color:red">*</span>压测方式:</label></li>
                        <li>
                            <select name="looptype" class="looptype" onchange="switchLoopType()">
                                <option value="count">循环次数</option>
                                <option value="duration">持续时间 (秒)</option>
                            </select>
                        </li>
                        <li><input type="text" name="jmeter-loop" onblur="$(this).attr('value', $(this).val())" value="600"></li>
                        <li>rampTime: </li>
                        <li><input type="text" name="rampTime" value="3" onblur="$(this).attr('value', $(this).val())"></li>
                    </ul>
                    <ul class="list-inline" style="display: none">
                        <li><label><span style="color:red">*</span>开启debug:</label></li>
                        <li><input type="checkbox" name="debug" id="debug" checked="checked"></li>
                    </ul>
                </div>
            </div>
        </div>
    <div>
        <ul class="list-inline">
            <li><strong>添加服务器资源监控:</strong></li>
            {% for machine in machines %}
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="machines" value="{{ machine.id }}" onclick="choiceMachine(this)"> {{ machine.name }}-{{ machine.ip }}
                        </label>
                    </div>
                </li>
            {% endfor %}
            <li><a href="/machines" target="_blank">添加授权</a></li>
            <li><small>系统内已授权登录的虚拟机或物理机,可在压测过程中监控资源占用情况</small></li>
        </ul>
        <ul class="list-inline">
            <li id="startbtn"><a class="btn btn-primary">开始压测</a></li>
            <li id="stopbtn" style="display: none"><a class="btn btn-danger">停止运行</a></li>
            <li id="monitorMachine" style="display: none"><a class="btn btn-default">获取监控报告</a></li>
            <li><a class="btn btn-default" href="javascript:;" target="_blank" id="watchReport" style="display: none">查看性能监控报告</a></li>
            <li id="debugdetail"></li>
        </ul>
        <a href="#bottom" id="godown" class="btn btn-default btn-xs" style="display:none;width:100px;float:right" data-toggle="tooltip" data-placement="top" title="去到底部"><span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
    <div style="display:none;border:1px solid #d6e9c6;text-align:center;" id="log-div">
        <div>运行日志</div>
        <div id="log-detail-div" style="text-align:left"></div>
        <a href="#" id="bottom" style="float:left"></a>
    </div>
    <div style="text-align:center;margin:5px;">
        <a href="javascript:void(0)" onclick="toggleBottom()" name="bottom" style="float:left">开启/关闭底部定位</a>
        <a id="report_url" href="/report/latest" target="_blank">查看最新报告</a>
        <a href="#top" class="btn btn-default btn-xs" style="width:100px;float:right" data-toggle="tooltip" data-placement="top" title="返回顶部"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    {% else %}
        {{ formcode|safe }}
    {% endif %}
    </form>
    <hr>
    <div>
        <ul class="list-inline">
            <li><label for="namespace">空间名: </label></li>
            <li><input type="text" id="namespace" class="form-control" value="suihouzhu"></li>
            <li><label for="instance_name">实例名: </label></li>
            <li><input type="text" id="instance_name" class="form-control" value="freestyle-1596870698-0kz5f"></li>
            <li><button class="btn btn-default" onclick="addmonitor()">添加节点监控</button></li>
            <li><code>压测同时建议将相关链路上的k2实例加入监控,观察资源占用情况</code>;若被测服务为虚拟机,可勾选服务器资源监控</li>
        </ul>
    </div>
    <div id="monitor-list" style="margin-bottom: 20px">
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        $(function () {
            document.onkeyup = function(event) {
                event = event || window.event;
                if(event.keyCode === 27){
                    layer.closeAll()
                }
            };
            {% if not edit %}
            $("#group-project").multiselect({
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Search 被压测项目名',
                maxHeight: 200,
                onChange: function(option){
                    $("#group-project option").removeAttr("selected");
                    selected = $(option).val();
                    $("#group-project > option[value='"+ selected +"']").attr("selected", "selected")
                }
            });
            {% endif %}
            $('[data-toggle="tooltip"]').tooltip();
            $("#helponenv").popover({html: true});
            $("#helponfile").popover({html: true});
            sessionStorage.autobottom = "open";
            sessionStorage.apicount = parseInt(1);

            $("#startbtn").click(function () {
                loadtool = $("#tool-pick > li[class=active] > a").html();
                if (!validateForm()) {
                    return
                }
                var index = layer.load(2, {
                    shade: [0.1, '#ffa243'],
                    offset: '200px'
                });

                var formdata = new FormData($("#addmissionform")[0]);
                formdata.append("loadtool", loadtool);

                formdata.append("formcode", $("#addmissionform").html());

                $.ajax({
                    url: "/addmission",
                    type: "POST",
                    data: formdata,
                    dataType: "JSON",
                    cache: false,
                    processData: false,
                    contentType: false,
                    error: function (request) {
                        layer.close(index);
                        layer.msg(request.status, {offset: "100px"});
                    },
                    success: function (data) {
                        layer.close(index);
                        console.log("运行接口返回: " + data);
                        if (data.result) {
                            console.log(data.job_id);
                            $("#debugdetail").html("");
                            $("#stopbtn").toggle();
                            $("#startbtn").toggle();
                            $("#watchReport").hide();
                            if (data.relatemachine) {
                                $("#monitorMachine").show();
                            } else {
                                $("#monitorMachine").hide();
                            }
                            sessionStorage.current_job_id = data.job_id;
                            sessionStorage.current_mission_id = data.missionid;
                            sessionStorage.current_machine_id = data.machineid;
                            $("#log-div").show();
                            $("#godown").show();
                            document.getElementById('bottom').scrollIntoView();
                            $("#log-detail-div").html("正在获取日志...");
                            layer.msg("任务正在运行..", {offset: "100px"});
                            sessionStorage.current_interval = setInterval(get_log, 3000);
                        } else {
                            layer.msg("运行失败:" + data.errorMsg, {offset: "100px"})
                        }
                    }
                })
            });

            $("#stopbtn").click(function () {
                stop(sessionStorage.current_mission_id, sessionStorage.current_job_id)
            });

            $("#monitorMachine").click(function () {
                var index = layer.load(2, {
                    shade: [0.1, '#ffa243'],
                    offset: '200px'
                });

                $.ajax({
                    url: "/getMonitorResult?missionid=" + sessionStorage.current_mission_id,
                    type: "get",
                    error: function (req) {
                        layer.close(index);
                        layer.msg(req.status, {offset: "100px"})
                    },
                    success: function (data) {
                        console.log(data);
                        layer.close(index);
                        if (data.result) {
                            $("#monitorMachine").css("display", "none");
                            if (data.count == 1) {
                                $("#watchReport").css("display", "").attr("href", "/viewMonitorReport/" + data.report_file);
                            } else {
                                $("#watchReport").css("display", "").attr("href", "/viewMissionReports/" + sessionStorage.current_mission_id);
                            }
                        } else {
                            layer.msg(data.errorMsg, {offset: "100px"})
                        }
                    }
                })
            });

            $("input[name=loadType]").click(function () {
                console.log(this.value);
                switch (this.value) {
                    case "atOnceUsers":
                        $("#endLoad").css("display", "none");
                        $("#duration").css("display", "none");
                        $("#durationType").css("display", "none");
                        break;
                    case "rampUsers":
                        $("#endLoad").css("display", "none");
                        $("#duration").css("display", "");
                        $("#durationType").css("display", "");
                        break;
                    case "constantUsersPerSec":
                        $("#endLoad").css("display", "none");
                        $("#duration").css("display", "");
                        $("#durationType").css("display", "");
                        break;
                    case "rampUsersPerSec":
                        $("#endLoad").css("display", "");
                        $("#duration").css("display", "");
                        $("#durationType").css("display", "");
                        break;
                    case "heavisideUsers":
                        $("#endLoad").css("display", "none");
                        $("#duration").css("display", "");
                        $("#durationType").css("display", "");
                        break;
                    default:
                        $("#endLoad").css("display", "none");
                        $("#duration").css("display", "");
                        $("#durationType").css("display", "");
                }
            });
        });

        function addmonitor() {
            namespace = $("#namespace").val();
            instance_name = $("#instance_name").val();
            $.ajax({
                url: "/monitor/add?namespace=" + namespace + "&instance_name=" + instance_name + "&base_url=" + $("#baseUrl").val(),
                success: function(data){
                    $("#monitor-list").append(data)
                }
            })
        }
    </script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/common.js"></script>
{% endblock %}
